/* media queries*/

screen and (max-width: 640px) 
  {
    .loremipsum {
    background-color : #FFFFFF;
    }
  }

screen and (min-width: 641px) 
  {
    .loremipsum {
    background-color : #CCCCCC;
    }
  }

/* max-width pour les petits ´ecrans */
screen and (max-width: 640px) 
  {
    #coteacote
      {
      display: block;
      }
    section, aside
      {
      width: auto;
      }
  }
  
  
